<div id="{{ include.album_name }}">
  {% for item in site.data.photo_albums[include.album_name] %}
  <a href="{{ site.url }}/albums/{{include.album_name}}/{{ item.src }}">
    <img src="{{ site.url }}/albums/{{include.album_name}}/{{ item.thumb }}" />
    {% if item.caption %}
      <div style="display:none;" class="caption">
        <h4>{{item.caption}}</h4>
      </div>
    {% endif %}
  </a>
  {% endfor %}
</div>


<script>
lightGallery(document.getElementById('{{ include.album_name }}'), {
      thumbnail:true,
      animateThumb: true,
      showThumbByDefault: true,
      download: false,
      "data-download-url": false}); 
</script>
