<div class="sp-album-wrapper" id="{{ include.album_name }}">
  {% for item in site.data.photo_albums[include.album_name] %}
  <div class="sp-album-thumb">
    <a href="{{ site.url }}/albums/{{include.album_name}}/{{ item.src }}" data-sub-html=".caption">
      <img src="{{ site.url }}/albums/{{include.album_name}}/{{ item.thumb }}" />
      <div style="display:none;" class="caption">
        {{item.caption | default: ''}}
      </div>
    </a>
  </div>
  {% endfor %}
</div>


<script>
lightGallery(document.getElementById('{{ include.album_name }}'), {
      selector: 'a',
      thumbnail:true,
      animateThumb: true,
      showThumbByDefault: true,
      subHtmlSelectorRelative: true,
      download: false,
      "data-download-url": false
    }); 
</script>
