---
---
<!-- Befor loading anything else we have to set the gphotos token -->
<script>
  window.GOOGLE_PHOTOS_CLIENT_ID = '{{site.tokens.GOOGLE_PHOTOS_CLIENT_ID}}';
</script>

<!-- my custom helpers -->
<script src="/assets/js/copyTextToClipboard.js"></script>
<script src="/assets/js/google_photos_helper.js"></script>

<script src="https://apis.google.com/js/api.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip-utils/0.0.2/jszip-utils.min.js"></script>
